.donate {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.main {
    height: inherit;
    background: transparent url('../img/bg_paper.png') repeat-y top left;
    padding: 15em 15em 1em 15em;
}

.mainText {
    display: compact;
    position: center;
    margin: 1em 1em 1em 1em;
    padding: 1em 50em 1em 1em;
    text-align: left;
    font-size: 100%;
    font-style: oblique;
    font-weight: bold;
}

.registerForms {
    margin-top: 10%;
    position: inherit;
    background: transparent;
}

.registerText {
    font-weight: bolder;
    color: #ffff55;
    width: 13em;
    text-align: center;
}

.registerBtn {
    width: 12em;
    height: 4em;
    position: absolute;
    text-align: center;
    display: block;
    color: #fc0;
}

input[type="text"]
{
    background-color: #f3f3f3;
    border: 2px solid #ff5500;
    font-family: Comic Sans MS;
    height: 30px;
    color: #555555;
    vertical-align: top;
    cursor: url(../img/gam1385.cur),default;
}
input[type="password"]
{
    background-color: #f3f3f3;
    border: 2px solid #ff5500;
    height: 30px;
    color: #555555;
    font-family: Comic Sans MS;
    vertical-align: top;
    cursor: url(../img/gam1385.cur),default;
}
input[type="email"]
{
    background-color: #f3f3f3;
    border: 2px solid #ff5500;
    height: 30px;
    font-family: Comic Sans MS;
    color: #555555;
    vertical-align: top;
    cursor: url(../img/gam1385.cur),default;
}
