body {
    background: #000000 url('img/l2_bg.jpg') no-repeat top center;
    color: rgb(F0,F0,F0);
    height: 100%;
    cursor: url('img/gam1394.cur'),default;
}

header {
    height: 20em;
    width: 30em;
    color: whitesmoke;
    text-align: center;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button {
    width: 12em;
    height: 4em;
    margin-right: 1em;
    font-weight: bolder;
    margin-left: 1em;
    margin-top: 0.5em;
    text-align: center;
    color: #fc0;
    background-image: url('img/button.png');
    background-repeat: no-repeat;
}

.list {
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
        /* The top layer shadow */
            0 1px 1px rgba(0,0,0,0.15),
                /* The second layer */
            0 10px 0 -5px #eee,
                /* The second layer shadow */
            0 10px 1px -4px rgba(0,0,0,0.15),
                /* The third layer */
            0 20px 0 -10px #eee,
                /* The third layer shadow */
            0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
}

.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox]:focus {
    outline: 0;
}
